snippet worksig "Hamcos signature" !b
# @author `git config --get user.name` <`git config --get user.email`>
# @company hamcos IT Service GmbH http://www.hamcos.de
# @licence GPLv3+ <http://www.gnu.org/licenses/gpl.html>
endsnippet
